  body {
    background-color: #813e1f;
    margin: 0;
    justify-self: center;
    justify-content: center;
}

.gohome {
    mix-blend-mode: lighten;
    background-color: white;
    color: black;
    font-family: Helvetica Neue;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.drawinglink:hover {
    mix-blend-mode:screen;
}

.show:hover {
    mix-blend-mode: screen;
}

.get:hover {
    background: white;
    color: black;
}

@media (max-width: 450px) {
    .spacermobile {
        height: 50px;
        visibility: hidden;
    }
}

@media (max-width: 749px) {

    .spacermobile {
        height: 100px;
        visibility: visible;
    }

    .desktop {
        visibility: hidden;
    }

    .drawing {
        transform:translate3d(0,0,0);

        img {
            width: 200px;
        }
    }

    .show {
        color: white;
        font-family: Times New Roman;
        margin-bottom: 50px;
    }
    
    .shows {
        width: 80vw;
        justify-content: center;
        margin-left: 10%;
    }

    #rise {
        position: absolute;
        top: -150px;
        overflow: hidden;
        left: 0;
        width: 100%;
        height: 66%;
        padding: 0px;
        margin: 0px;
      }
      
      #rise .drawing {
        width: 100%;
        height: 150%;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
      }
      
      #rise img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        padding: 0px;
        margin: 0px;
      }
    
    .showsheader {
        font-size: 30px;
    }
    
    .showsrsvp {
        color: white;
        font-family: Helvetica Neue;
        font-weight: 1000;
        letter-spacing: 10px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .showdate {
        font-variant-caps: all-small-caps;
    }
    
    .showbill {
        font-style: italic;
    }
    
    .spacer {
        height: 10px;
    }

}

@media (min-width: 750px) {

    body {
        overflow: hidden;
    }

    .try {
        opacity: 0;
        transition: all 1s ease-in-out;
        color: white;
    }

    .body {
    overflow: hidden;
    }

    .drawing img {
        width: 400px;
    }

    .mobile {
        visibility: hidden;
    }

    .showsheader {
        font-size: 50px;
    }

    body::before {
        z-index: -1;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../media/images/the-everything-pointer-gray.jpeg');
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        opacity: 0.2;


      }

      .gohome {
        position: absolute;
      }

}

.head {
    position: absolute;
    text-decoration: none;
    margin: 100px;
}

.centerthis {
    text-align: left;
}

.show {
    color: white;
    font-family: Times New Roman;
}

.shows {
    width: 80vw;
    justify-content: center;
}

.showlink {
    position: absolute;
    text-decoration: none;
}

.drawinglink {
    position: absolute;
    text-decoration: none;

    margin: -50px;
}

.drawing {
    mix-blend-mode: color-dodge;
    pointer-events: none;
    margin: -50px;

    img{
        height: auto;
        pointer-events: none;
    }
}


.showsheader {
    color: white;
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 10;
    text-decoration: none;
}

.showsrsvp {
    color: white;
    font-family: Helvetica Neue;
    font-weight: 1000;
    letter-spacing: 10px;
    font-size: 20px;
    text-decoration: none;
}

.showdate {
    font-variant-caps: all-small-caps;
}

.showbill {
    font-style: italic;
}

.spacer {
    height: 50px;
}