body {
    background-color: black;
    margin: 0;
}

#logo {
    mix-blend-mode: difference;
}

.newdex-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
}

.about-link {
    color: white;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

.box {
    align-self: flex-start;
    height: 20vw;
    width: 20vw;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    text-align: center;
}

.box-container {
    align-items: center;
}

.box-container-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: right;
}

.gohome {
    background-color: white;
    color: black;
    font-family: Helvetica Neue;
    font-style: italic;
    margin-top: 2vw;
    text-align: center;
    text-decoration: none;
    text-align: center;
}

.hyperfollow {
    font-family: Helvetica Neue;
    font-style: italic;
    text-decoration: none;
}

.hyperfollow a {
    mix-blend-mode: difference;
}

.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

// main.js is only selecting image 8 right now

.img1 {
    background-image: url('../media/images/eli-orion-fiddle-rocks.jpeg');
    background-position: center top;
}

.img2 {
    background-image: url('../media/images/eli-orion-guitar-fisheye.jpeg');
    background-position: center top;
}

.img3 {
    background-image: url('../media/images/eli-orion-lay-log.jpeg');
}

.img4 {
    background-image: url('../media/images/eli-orion-leaves-sing.jpeg');
    background-position: center top;
}

.img5 {
    background-image: url('../media/images/eli-orion-low-perspective.jpeg');
    background-position: center top;
}

.img6 {
    background-image: url('../media/images/eli-orion-overlook.jpeg');
    background-position: center top;
}

.img7 {
    background-image: url('../media/images/eli-orion-tower-climb.jpeg');
    background-position: center top;
}

.img8{
    background-image: url('../media/images/eli-orion-lightning.jpeg');
    background-position: center;
}

.listen {
    color: white;
    font-family: Helvetica Neue;
    font-style: italic;
    letter-spacing: 2vw;
    margin-top: 2vw;
    text-align: center;
    text-decoration: none;
}

.listen-subtitle {
    color: white;
    font-family: 'Times New Roman';
    justify-self: center;
    text-decoration: none;
    width: auto;
}

.mailto {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.newdex-container {
    overflow-x: hidden; 
}

.random-letters {
    color: white;
    font-family: Helvetica Neue;
    font-style: italic;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    transition: left 0.5s, top 0.5s;
    left: 10px;
    top: 300px;
}

.showsheader {
    color: white;
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 10;
    font-size: 50px;
    text-decoration: none;
}

.spacer {
    height: 50px;
}

.small-spacer {
    height: 10px;
}

.spotify-box {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 300px;
    min-width: 300px;
    height: 20vw;
    width: 20vw;
}

.spotify-embed {
    min-height: 300px;
    min-width: 300px;
    height: 20vw;
    width: 20vw;
    position: absolute;
    z-index: 2;
}

.top {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.video-container iframe {
    height: 20vw;
    width: 20vw;
    min-height: 300px;
    min-width: 300px;
}

@media (max-width: 749px) {
    
    #logo {
        width: 1in;
        height: 0.5in;
    }

    .box-container {
        display: flex;
        justify-content: center;
        max-height: 300px;
        max-width: 300px;
        padding: 2vw;
    }

    .box-container-container {
        gap: 5vw;
    }

    .gohome {
        font-size: 4vw;
    }

    .hyperfollow {
        font-size: 10vw;
        letter-spacing: 3vw;
        margin: 10px;
        margin-top: 2vw;
    }

    .hyperfollow a {
        background-color: white;
        color: black;
        text-align: left;
    }

    .newdex-container {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    .img3 {
        background-image: url('../media/images/eli-orion-lay-log-vertical.jpeg');
    }

    .listen {
        font-size: 6vw;
    }

    .listen-subtitle {
        font-size: 3vw;
        letter-spacing: 2vw;
        text-align: left;
    }

    .social-links {
        display: none;
    }

    .social-links-mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        height: 1em;
        justify-content: flex-end;
        margin: 10px;
    }

    .social-links-mobile a {
        align-items: center;
        background-color: white;
        color: black;
        display: flex;
        font-size: 7vw;
        justify-content: center;
        mix-blend-mode: difference;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
    }

    .top {
        background-position: center;
    }

    .top-desktop {
        display: none;
    }

    .top-mobile {
        align-items: top;
        display: flex;
        height: 30vw;
        justify-content: space-between;
    }

    .top-spacer {
        height: 50vw;
    }

    .youtube-video-listen-container {
        display: flex;
        height: 40%;
        justify-content: center;
        width: 100%;
    }

    .youtube-video-listen-container iframe {
        height: 30vw;
        min-height: 225px;
        min-width: 300px;
        width: 40vw;
    }

}

@media (min-width: 750px) {

    #logo {
        height: 100%;
        justify-self: right;
        width: 20vw;
    }

    .box-container {
        display: flex;
        font-size: 2vw;
        height: 20vw;
        justify-items: center;
        margin: 2vw;
        min-height: 300px;
        min-width: 300px;
        padding: 2vw;
        text-align: center;
        width: 20vw;
    }
    
    .box-container-container {
        gap: 2vw;
    }
    
    .gohome {
        font-size: 2vw;
    }
    
    .hyperfollow {
        font-size: 2vw;
        letter-spacing: 1vw;
        padding: 20px;
    }

    .hyperfollow a {
        color: white;
    }
    
    .listen {
        font-size: 3vw;
    }
    
    .listen-subtitle {
        font-size: 2vw;
        letter-spacing: 1.5vw;
        text-align: center;
    }

    .listen-tall {
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 100px;
        height: 100vh;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .social-links {
        display: flex;
        flex-wrap: wrap;
        gap: .6vw;
        justify-content: center;
        justify-self: left;
    }

    .social-links a {
        color: white;
        font-size: 1.5vw;
        height: 100%;
        mix-blend-mode: difference;
        padding: 1.5vw;
        text-align: center;
        text-decoration: none;
    }

    .social-links-mobile {
        display: none;
    }

    .top {
        background-position: center top -12vw;
    }
    
    .top-desktop {
        align-items: center;
        display: flex;
        height: 10vw;
        justify-content: space-between;
        padding: 20px;
    }
    
    .top-mobile {
        display: none;
    }
    
    .top-spacer {
        height: 30vw;
    }

}

footer {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
}