body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-self: center;
    margin: 0;
}

.align-right {
    margin: 0;
    text-align: right;
}

.by {
    font-family: 'Helvetica Neue';
    width: 100%;
    justify-self: center;
    font-size: 3vw;
    letter-spacing: 2vw;
    color: black;
    background-color: white;
    text-align: right;
    text-decoration: none;
    font-style: italic;
    mix-blend-mode: difference;
}

.cover-art {
    width: 100%;
    height: 100%;
}

.cover-art-container {
    margin: 2vw;
}

.description {
    font-family: "Times New Roman";
    font-weight: 200;
    font-style: italic;
    text-align: justify;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
}

.description-container {
    margin: 2vw;
}

.dnd {
    margin: 2vw;
    font-family: 'Times New Roman';
    mix-blend-mode: difference;
}

.entire-container {
    box-sizing: border-box;
    display: flex;
}

.image-link {
    width: 100%;
}

.images-container {
    display: flex;
}

.images-container img {
    width: 100%;
    margin-top: -0.7vw;
}

.mailto {
    color: white;
    font-weight: 600;
    font-weight: bold;
    text-decoration: none;
}

.more-pictures {
    background-color: white;
    color: black;
    font-family: 'Helvetica Neue';
    font-size: 4vw;
    letter-spacing: .005vw;
    margin: 6vw;
}

.title {
    font-family: 'Helvetica Neue';
    width: 100%;
    justify-self: center;
    font-size: 3vw;
    letter-spacing: 2vw;
    color: black;
    background-color: white;
    text-align: left;
    text-decoration: none;
    font-style: italic;
    mix-blend-mode: difference;
}

@media (max-width: 749px) {

    .cover-art {
        width: 90vw;
    }

    .cover-art-container {
        box-sizing: border-box;
        order: 1;
    }

    .description {
        box-sizing: border-box;
        color: black;
        background-color: white;
        font-size: 3vw;
        justify-self: left;
        letter-spacing: .15vw;
        line-height: 4.1vw;
        order: 4;
        padding: 1vw;
    }

    .description-container {
        box-sizing: border-box;
        height: auto;
        order: 4;
        width: 90vw;
    }

    .desktop-links {
        display: none;
    }

    .dnd {
        color: white;
        font-size: 2vw;
        justify-content: center;
        letter-spacing: 1vw;
        margin-top: none;
        padding-left: 4.4vw;
        padding-top: none;
    }

    .entire-container {
        flex-direction: column;
        justify-content: center;
        margin: 2vw;
        padding: 2vw;
    }

    .images-container {
        flex-direction: column;
    }

    .mailto {
        color: black;
        font-weight: 400;
        font-weight: bold;
        text-decoration: none;
    }

    .mobile-links-1, .mobile-links-2 {
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        height: 100%;
        justify-content: center;
        justify-content: flex-end;
        justify-self: left;
        letter-spacing: -.35vw;
        margin-bottom: 2.5vw;
        margin-top: 0;
        order: 2;
        text-align: center;
        font-family: "Helvetica Neue";
        font-size: 4vw;
    }

    .mobile-links-1 a, .mobile-links-2 a {
        background-color: white;
        color: black;
        margin-bottom: 1vw;
        margin-top: 1vw;
        padding: 1vw;
        text-decoration: none;
    }

    .more-pictures {
        background-color: white;
        color: black;
        font-family: 'Helvetica Neue';
        font-size: 4vw;
        letter-spacing: .005vw;
        margin: 6vw;
    }

}

@media (min-width: 750px) {

    body {
        background-position: center;
        height: 100vh;
    }

    .dnd {
        color: white;
        font-size: 1.5vw;
        letter-spacing: 1.5vw;
    }

    .description {
        align-content: center;
        color: white;
        font-size: 1.1vw;
        justify-content: center;
        letter-spacing: .05vw;
        line-height: 1.75vw;
        width: 29vw;
    }

    .description-container {
        background-color: white;
        height: 30vw;
        mix-blend-mode: difference;
        padding-left: .5vw;
        padding-right: .5vw;
        width: 30vw;
    }

    .desktop-links {
        display: flex;
        flex-wrap: wrap;
        gap: 5.14vw;
        justify-content: center;
        justify-self: left;
        margin: 2vw;
        margin-top: 0;
    }

    .desktop-links a {
        background-color: white;
        color: black;
        font-family: "Helvetica Neue";
        font-size: 2vw;
        height: 100%;
        letter-spacing: -.15vw;
        mix-blend-mode: difference;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
    }

    .entire-container {
        flex-direction: row;
    }

    .images-container {
        flex-direction: row;
    }
    
    .images-container a {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50vw;
        width: 100%;
    }

    .images-container img {
        height: auto;
        max-width: 50vw;
    }

    .mobile-links-1 {
        display: none;
    }

    .mobile-links-2 {
        display: none;
    }

}