body {
    background-color: #000000;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.image-divider {
            display: flex;
            overflow: hidden; /* To prevent the images from overflowing the container */
        }

        .image-divider img {
            width: 100%; /* Make sure the images take 100% of the container width */
            height: auto; /* Maintain the aspect ratio of the images */
            object-fit: cover; /* Cover the container with the images */
        }

.social-links a {
    color: black;
    background-color: white;
    padding: 2vw;
    text-decoration: none;
    text-align: center;
    font-size: 2vw;
}

.presave {
    font-weight: thin;
    font-style: italic;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
    letter-spacing: 20px;
    margin: 50px 0;
}

.presave a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

#image-container {
    text-align: center;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh; /* Set height to 100% of the viewport height for vertical centering */
}

#video-container iframe {
    width: 560px; /* Adjust the width as needed */
    height: 560px; /* Adjust the height as needed */
}

#main-image {
    width: 30%;
    margin: auto;
    margin-bottom: 0;
    width: 40vw;
    min-width: 220px;
}

#main-video {
    width: 50%;
    margin: auto;
    margin-bottom: 0;
}

.spacer {
    height: 50px;
}

footer {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
}

footer {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
}
